APP_NAME="Product Inventory"

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=product_inventory
DB_USERNAME=laravel
DB_PASSWORD=secret
APP_DEBUG=true
REDIS_HOST=redis
REDIS_PORT=6379

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

APP_KEY=
